mixin b-main-slider()

  #main-slider.main-slider-1.slider-pro(
    data-slider-width="100%"
    data-slider-height="900px"
    data-slider-arrows="true"
    data-slider-buttons="false")

    .sp-slides

      // Slide 1
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-1.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              .main-slider__subtitle.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") best in the business
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") we do creative apps to inspire you
              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-white learn more
                +social-net([
                  {'href': "twitter", 'icon': 'twitter'},
                  {'href': "behance", 'icon': 'behance'},
                  {'href': "instagram", 'icon': 'instagram'}], '')(class="")

      // Slide 2
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-2.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              .main-slider__subtitle.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") best in the business
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") we do creative apps to inspire you
              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-white learn more
                +social-net([
                  {'href': "twitter", 'icon': 'twitter'},
                  {'href': "behance", 'icon': 'behance'},
                  {'href': "instagram", 'icon': 'instagram'}], '')(class="")

      // Slide 3
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-1.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              .main-slider__subtitle.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") best in the business
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") we do creative apps to inspire you
              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-white learn more
                +social-net([
                  {'href': "twitter", 'icon': 'twitter'},
                  {'href': "behance", 'icon': 'behance'},
                  {'href': "instagram", 'icon': 'instagram'}], '')(class="")

      // Slide 4
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-2.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              .main-slider__subtitle.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") best in the business
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") we do creative apps to inspire you
              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-white learn more
                +social-net([
                  {'href': "twitter", 'icon': 'twitter'},
                  {'href': "behance", 'icon': 'behance'},
                  {'href': "instagram", 'icon': 'instagram'}], '')(class="")

  // end .main-slider



mixin b-main-slider-2()

  #main-slider.main-slider-2.slider-pro(
    data-slider-width="100%"
    data-slider-height="950px"
    data-slider-arrows="false"
    data-slider-buttons="true")

    .sp-slides

      // Slide 1
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-2.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") We are Mizan Agency

              .main-slider__info.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") With over a decade of experience, we have helped our clients all over the world to create eye-catching and beautiful solutions for their business

              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-default learn more
                a(href="services.html").main-slider__btn.btn.btn-white work with us

      // Slide 2
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-1.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") We are Mizan Agency

              .main-slider__info.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") With over a decade of experience, we have helped our clients all over the world to create eye-catching and beautiful solutions for their business

              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-default learn more
                a(href="services.html").main-slider__btn.btn.btn-white work with us

      // Slide 3
      .sp-slide
        img.sp-image(src="assets/media/components/b-main-slider/bg-2.jpg" alt="slider")
        .container
          .row
            .col-sm-8.col-sm-offset-2
              h2.main-slider__title.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="800" data-show-delay="400" data-hide-delay="400") We are Mizan Agency

              .main-slider__info.sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400") With over a decade of experience, we have helped our clients all over the world to create eye-catching and beautiful solutions for their business

              .sp-layer(data-width="100%" data-show-transition="left" data-hide-transition="left" data-show-duration="1200" data-show-delay="2000" data-hide-delay="400")
                a(href="services.html").main-slider__btn.btn.btn-default learn more
                a(href="services.html").main-slider__btn.btn.btn-white work with us

  // end .main-slider

