mixin b-brands()

  .b-brands.owl-carousel.owl-theme.owl-theme_pdg_sm.enable-owl-carousel(
    data-min480="1"
    data-min768="3"
    data-min992="5"
    data-min1200="5"
    data-pagination="false"
    data-navigation="false"
    data-auto-play="4000"
    data-stop-on-hover="true")

    .b-brands__item
      img.img-responsive.center-block(src="assets/media/components/b-brands/logo-1.png", alt="foto")
    .b-brands__item
      img.img-responsive.center-block(src="assets/media/components/b-brands/logo-2.png", alt="foto")
    .b-brands__item
      img.img-responsive.center-block(src="assets/media/components/b-brands/logo-3.png", alt="foto")
    .b-brands__item
      img.img-responsive.center-block(src="assets/media/components/b-brands/logo-4.png", alt="foto")
    .b-brands__item
      img.img-responsive.center-block(src="assets/media/components/b-brands/logo-1.png", alt="foto")

  // end .b-brands







