mixin b-typography()

  .rtd.typography-page
    .typography-section.typography-section-border
      .container
        .row
          .col-md-7
            section
              h2.typography-title Bold Headings
              table.table_primary-headings
                tbody
                  tr
                    td
                      h1
                        strong H1. heading
                    td.typography-title-number 48 pt
                  tr
                    td
                      h2
                        strong H2. heading
                    td.typography-title-number 38 pt
                  tr
                    td
                      h3
                        strong H3. heading
                    td.typography-title-number 28 pt
                  tr
                    td
                      h4
                        strong H4. heading
                    td.typography-title-number 24 pt
                  tr
                    td
                      h5
                        strong H5. heading
                    td.typography-title-number 16 pt
                  tr
                    td
                      h6.typography-last-elem
                        strong H6. heading
                    td.typography-title-number 14 pt

          .col-md-5
            section
              h2.typography-title Light / Regular Headings
              table.table_primary-headings
                tbody
                  tr
                    td
                      h1 H1. heading
                  tr
                    td
                      h2 H2. heading
                  tr
                    td
                      h3 H3. heading
                  tr
                    td
                      h4 H4. heading
                  tr
                    td
                      h5 H5. heading
                  tr
                    td
                      h6.typography-last-elem H6. heading



    .typography-section.typography-section-border
      .container
        section.section-area
          .row
            .col-md-4
              h2.ui-title-block-2 Heading Style
              .ui-decor-4.bg-primary

            .col-md-6.col-md-offset-2
              .ui-subtitle-block The Works We Did
              h2.ui-title-block Portfolio Items
              .ui-decor-1.bg-primary
              .block-paragraphs
                p Corem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed bcea lorem ipsum dolor comoda lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt.


        section.typography-section__inner
          .row
            .col-xs-12
              h2.typography-title Highlights
              .row
                .col-md-6
                  p.typography__highlights Lorem ipsum dolor sit amet&nbsp;
                    span.text-bg.bg-primary feugiat delicata liberavisse id cum
                    |  eusimod tempor
                  p.typography__highlights Lorem ipsum dolor sit amet&nbsp;
                    span.text-bg.bg-second feugiat delicata liberavisse id cum
                    |  eusimod tempor
                  p.typography__highlights Lorem ipsum dolor sit amet&nbsp;
                    span.bg-border feugiat delicata liberavisse id cum
                    |  eusimod tempor

                .col-md-6
                  p.typography__highlights Lorem ipsum dolor sit amet&nbsp;
                    span.text-primary feugiat delicata liberavisse id cum
                    |  eusimod tempor
                  p.typography__highlights Lorem ipsum&nbsp;
                    span.text-second dolor sit amet feugiat delicata liberavisse
                    |  id cum eusimod tempor
                  p.typography__highlights Lorem ipsum dolor sit amet feugiat delicata liberavisse&nbsp;
                    span.color-dark id cum eusimod
                    |  tempor


        section.typography-section__inner
          .row
            .col-xs-12
              h2.typography-title Text Tooltips
              .row
                .col-xs-12
                  p Lorem ipsum dolor sit amet
                    a.link-tooltip-1(href="#", data-toggle="tooltip", title="", data-original-title="Your Text Here")  deugiat delicata libera
                    |  visse id cum eusimod dui tempor incididunt
                    a.link-tooltip-2(href="#", data-toggle="tooltip", title="", data-original-title="Your Text Here")  ut labore et dolore
                    |  magna aliqua denim ad minim


    .typography-section.typography-section-border
      section.section-area
        .container
          .row
            .col-xs-12
              h2.typography-title List Styles


          .row
            .col-md-4
              ul.list.list-mark-1
                li Phasellus sit amet velit auctor turpis rhoncus.
                li Phasellus sed dolor sodales eleifend ipsum eu.
                li Nullam id dolor in ex eleifend tempus.
                li Etiam id lorem vel neque faucibus fermentum.
                li Nunc tincidunt augue in enim sollicitudin feugiat.


            .col-md-4
              ul.list.list-mark-2
                li Phasellus sit amet velit auctor turpis rhoncus.
                li Phasellus sed dolor sodales eleifend ipsum eu.
                li Nullam id dolor in ex eleifend tempus.
                li Etiam id lorem vel neque faucibus fermentum.
                li Nunc tincidunt augue in enim sollicitudin feugiat.


            .col-md-4
              ul.list.list-mark-3
                li Phasellus sit amet velit auctor turpis rhoncus.
                li Phasellus sed dolor sodales eleifend ipsum eu.
                li Nullam id dolor in ex eleifend tempus.
                li Etiam id lorem vel neque faucibus fermentum.
                li Nunc tincidunt augue in enim sollicitudin feugiat.


          .row
            .col-md-4
              ol.list.list-num.list-num-1.typography-last-elem
                li Phasellus sit amet velit auctor turpis rhoncus.
                li Phasellus sed dolor sodales eleifend ipsum eu.
                li Nullam id dolor in ex eleifend tempus.
                li Etiam id lorem vel neque faucibus fermentum.
                li Nunc tincidunt augue in enim sollicitudin feugiat.

            .col-md-4
              ul.list.list-mark-4.typography-last-elem
                li Phasellus sit amet velit auctor turpis rhoncus.
                li Phasellus sed dolor sodales eleifend ipsum eu.
                li Nullam id dolor in ex eleifend tempus.
                li Etiam id lorem vel neque faucibus fermentum.
                li Nunc tincidunt augue in enim sollicitudin feugiat.

            .col-md-4
              ul.list.list-mark-5.typography-last-elem
                li Phasellus sit amet velit auctor turpis rhoncus.
                li Phasellus sed dolor sodales eleifend ipsum eu.
                li Nullam id dolor in ex eleifend tempus.
                li Etiam id lorem vel neque faucibus fermentum.
                li Nunc tincidunt augue in enim sollicitudin feugiat.



      section.typography-section__inner
        .container
          .row
            .col-xs-12
              h2.typography-title Dropcap
              .row
                .col-md-6
                  p.dropcap.dropcap_primary Dolor sit amet, consectetur adipiscing elit. Ut sed bibendum leo. Mauris mau massa, eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum fau bus fermentum a ultricies urna cum sociis.
                  p Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris ma massa eleifend et purus vel feugiat rutrum nulla cras vitae est vel ipsum faucibus ferme aultricies urna cum sociis natoque penatibus.

                .col-md-6
                  p.dropcap.dropcap_primary.dropcap_sm Famur sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris as sa eleifend et purus vel feugiat rutrum nulla.
                  p Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo mauris massa, eleifend et purus vel, feugiat rutrum nulla cras vitae est vel ipsum faucibus ferm aultricies urna dum sociis natoque penatibus et magnis.
              .row
                .col-md-6
                  p.dropcap.dropcap_secondary.typography-dropcap Dolor sit amet, consectetur adipiscing elit. Ut sed bibendum leo. Mauris mau massa, eleifend et purus vel feugiat rutrum nulla. Cras vitae est vel ipsum fau bus fermentum a ultricies urna cum sociis.
                  p.typography-last-elem Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo. Mauris ma massa eleifend et purus vel feugiat rutrum nulla cras vitae est vel ipsum faucibus ferme aultricies urna cum sociis natoque penatibus.

                .col-md-6
                  p.dropcap.dropcap_secondary.dropcap_sm.typography-dropcap Famur sit amet consectetur adipiscing elit ut sed bibenum leo. Mauris mauris as sa eleifend et purus vel feugiat rutrum nulla.
                  p.typography-last-elem Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut sed bibendum leo mauris massa, eleifend et purus vel, feugiat rutrum nulla cras vitae est vel ipsum faucibus ferm aultricies urna dum sociis natoque penatibus et magnis.


    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Blockquote Style

        .row
          .col-md-8
            +b-blockquote-post('Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat.', 'Martin Hans', 'CEO NewTech Ltd.')

            +b-blockquote-4('Corem ipsum dolor sit amet cons sudacter adipsicing elit sed usm temp incida dolore magna aliqua ut enim minim.', 'Martin Hans', 'Newtech Ltd.', 'face_60x60_1')(class="b-blockquote-4")

          .col-md-3.col-md-offset-1
            +b-blockquote-1('Aorem sum dolor sit amet consectetur adipisicing elit sed eiusmod tempor cididunt labore dolore magna aliqua enim.', 'Martin Hans', 'CEO NewTech', '80x80_1')(class="b-blockquote-1 b-blockquote-1_grey")

        .row
          .col-md-7
            .owl-carousel.owl-theme.owl-theme_pdg_sm.enable-owl-carousel(
              data-pagination="false"
              data-navigation="true"
              data-single-item="true"
              data-auto-play="7000"
              data-transition-style="fade"
              data-main-text-animation="true"
              data-after-init-delay="3000"
              data-after-move-delay="1000"
              data-stop-on-hover="true")

              +b-blockquote-2('Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat.', 'Martin Hans', 'CEO NewTech Ltd.')(class="b-blockquote-2")
              +b-blockquote-2('Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 'Martin Hans', 'CEO NewTech Ltd.')(class="b-blockquote-2")
              +b-blockquote-2('Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ', 'Martin Hans', 'CEO NewTech Ltd.')(class="b-blockquote-2")
            // end carousel



    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Buttons
            .typography-btn-group
              .row
                .col-md-6
                  .row
                    button.btn.btn-default.btn-sm(type="button") button
                    button.btn.btn-default(type="button") button
                    button.btn.btn-default.btn-lg(type="button") button

                  .row
                    button.btn.btn-primary.btn-sm(type="button") button
                    button.btn.btn-primary(type="button") button
                    button.btn.btn-primary.btn-lg(type="button") button

                .col-md-6
                  .row
                    button.btn.btn-grad.btn-sm(type="button")
                      span.wrap-btn-grad button
                    button.btn.btn-grad(type="button")
                      span.wrap-btn-grad button
                    button.btn.btn-grad.btn-lg(type="button")
                      span.wrap-btn-grad button
                  .row
                    button.btn.btn-grad-2.btn-sm(type="button") button
                    button.btn.btn-grad-2(type="button") button
                    button.btn.btn-grad-2.btn-lg(type="button") button

    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Pagination


        .row
          .col-xs-12
            ul.pagination
              li
                a(href="#") prev
              li
                a(href="#") 1
              li.active
                a(href="#") 2
              li
                a(href="#") 3
              li
                a(href="#") next


    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Form Elements
            .row
              .col-md-9
                form.ui-form.ui-form-1(action="#", method="post")
                  .row
                    .col-md-6
                      input.form-control(type="text", placeholder="Name")

                    .col-md-6
                      input.form-control(type="email", placeholder="Email")
                  .row
                    .col-xs-12
                      input.form-control(type="url", placeholder="Website")
                  .row
                    .col-xs-12
                      textarea.form-control(rows="6")
                      button.btn.btn-grad(type="button")
                        span.wrap-btn-grad send my comment


              .col-md-3
                .checkbox-group
                  input.forms__check.hidden#check-1(type="checkbox")
                  label.forms__label.forms__label-check.forms__label-check-1(for="check-1") Check box (Unchecked)
                  input.forms__check.hidden#check-2(type="checkbox" checked)
                  label.forms__label.forms__label-check.forms__label-check-1(for="check-2") Check box (checked)
                  input.forms__check.hidden#check-3(type="checkbox")
                  label.forms__label.forms__label-check.forms__label-check-2(for="check-3") Check box (checked)

                .label-group
                  input.forms__radio.hidden#forms__radio-1(type="radio", name="radio-group-2", value="")
                  label.forms__label.forms__label-radio.forms__label-radio-1(for="forms__radio-1")
                  input.forms__radio.hidden#forms__radio-2(type="radio", name="radio-group-2", value="", checked)
                  label.forms__label.forms__label-radio.forms__label-radio-1(for="forms__radio-2")

                .label-group
                  input.forms__radio.hidden#forms__radio-3(type="radio", name="radio-group-3", value="")
                  label.forms__label.forms__label-radio.forms__label-radio-2(for="forms__radio-3")
                  input.forms__radio.hidden#forms__radio-4(type="radio", name="radio-group-3", value="", checked)
                  label.forms__label.forms__label-radio.forms__label-radio-2(for="forms__radio-4")

                .label-group
                  input.forms__radio.hidden#forms__radio-5(type="radio", name="radio-group-1", value="")
                  label.forms__label.forms__label-radio.forms__label-radio-3(for="forms__radio-5")
                  input.forms__radio.hidden#forms__radio-6(type="radio", name="radio-group-1", value="", checked)
                  label.forms__label.forms__label-radio.forms__label-radio-3(for="forms__radio-6")


    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Alert Messages
            .alert-group
              .row
                .col-md-6
                  .alert.alert-default
                    i.icon.icon_volume-high_alt
                    | Normal Message!
                  .alert.alert-warning
                    i.icon.icon_error-circle_alt
                    | Warning Messages!
                  .alert.alert-1
                    i.icon.icon_question_alt2
                    | Information Frequently Asked Questions!

                .col-md-6
                  .alert.alert-success
                    i.icon.icon_check_alt2
                    | Success Message!
                  .alert.alert-info
                    i.icon.icon_lightbulb_alt
                    | Useful Information!
                  .alert.alert-2
                    i.icon.icon_lifesaver
                    | Normal Message!



            .row
              .col-xs-12
                .alert.alert-default.alert-block
                  button.close(data-dismiss="alert")
                    i.close-icon.fa.fa-times
                  .alert-icon
                    i.icon.fa.fa-bell
                  .alert__inner
                    h3.alert-title Your Message Title Here!
                    .alert-text Vestibulum ante ipsum primis in faucibus orci luctus et ultriceposuercubilia burae


                .alert.alert-block.alert-4
                  button.close(data-dismiss="alert")
                    i.close-icon.fa.fa-times
                  .alert-icon
                    i.icon.fa.fa-close
                  .alert__inner
                    h3.alert-title Your Message Title Here!
                    .alert-text Vestibulum ante ipsum primis in faucibus orci luctus et ultriceposuercubilia burae


                .alert.alert-block.alert-5
                  button.close(data-dismiss="alert")
                    i.close-icon.fa.fa-times
                  .alert-icon
                    i.icon.fa.fa-check
                  .alert__inner
                    h3.alert-title Your Message Title Here!
                    .alert-text Vestibulum ante ipsum primis in faucibus orci luctus et ultriceposuercubilia burae


                .alert.alert-block.alert-3
                  button.close(data-dismiss="alert")
                    i.close-icon.fa.fa-times
                  .alert-icon
                    i.icon.fa.fa-exclamation
                  .alert__inner
                    h3.alert-title Your Message Title Here!
                    .alert-text Vestibulum ante ipsum primis in faucibus orci luctus et ultriceposuercubilia burae


    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Progress Bars
            .row
              .col-md-6
                .progress.progress_background
                  .progress-bar.bg-primary(style="width: 50%")
                    span.sr-only 50% Complete (success)

                .progress.progress_border_primary.progress_high
                  .progress-bar.bg-primary(style="width: 50%")
                    span.sr-only 50% Complete (success)

                .progress.progress-1.progress-striped.active.progress_background.progress_round
                  .progress-bar.bg-primary(style="width: 50%")
                    span.sr-only 50% Complete (success)


                .progress.progress-striped.active.progress_background.progress_shadow.progress_high.progress_round
                  .progress-bar.bg-primary.typography-last-elem(style="width: 50%")
                    span.sr-only 50% Complete (success)

                .progress.progress-3.progress-striped.active.progress_background.progress_shadow.progress_high.progress_round.typography-last-elem
                  .progress-bar(style="width: 50%")
                    span.sr-only 50% Complete (success)



              .col-md-6
                .progress.progress_w_border
                  .progress-bar.bg-second(style="width: 50%")
                    span.sr-only 50% Complete (success)

                .progress.progress_border_secondary.progress_high
                  .progress-bar.bg-second(style="width: 50%")
                    span.sr-only 50% Complete (success)

                .progress.progress-striped.active.progress_background.progress_round
                  .progress-bar.bg-second(style="width: 50%")
                    span.sr-only 50% Complete (success)

                .progress-block-group
                  .progress-block
                    .progress__title branding
                    .progress.progress-w-number.progress_background
                      .progress-bar.bg-primary(style="width: 60%")
                      span.progress-bar__number 60%
                  .progress-block
                    .progress__title web design
                    .progress.progress-w-number.progress_background
                      .progress-bar.bg-primary(style="width: 85%")
                      span.progress-bar__number 85%


    .typography-section.typography-section-border
      .container
        .row
          .col-xs-12
            h2.typography-title Tables
            .table-container
              table.table.table_primary
                thead
                  tr
                    th #
                    th First Name
                    th Last Name
                    th user id
                    th Email

                tbody
                  tr
                    td 1
                    td Mark
                    td Otto
                    td nomdo
                    td mark.otto@mdo.net

                  tr
                    td 2
                    td Jacob
                    td Thornton
                    td wrfat
                    td jacob.thrnton321@fatbeer.org

                  tr
                    td 3
                    td Larry
                    td the Bird
                    td kotwitter
                    td larry.king.live@twitterhack.com

            .table-container
              table.table.table_secondary.table-striped
                thead
                  tr
                    th #
                    th First Name
                    th Last Name
                    th user id
                    th Email

                tbody
                  tr
                    td 1
                    td Mark
                    td Otto
                    td nomdo
                    td mark.otto@mdo.net

                  tr
                    td 2
                    td Jacob
                    td Thornton
                    td wrfat
                    td jacob.thrnton321@fatbeer.org

                  tr
                    td 3
                    td Larry
                    td the Bird
                    td kotwitter
                    td larry.king.live@twitterhack.com

            .table-container
              table.table.table_primary.table-type-1
                thead
                  tr
                    th #
                    th First Name
                    th Last Name
                    th user id
                    th Email

                tbody
                  tr
                    td 1
                    td Mark
                    td Otto
                    td nomdo
                    td mark.otto@mdo.net

                  tr
                    td 2
                    td Jacob
                    td Thornton
                    td wrfat
                    td jacob.thrnton321@fatbeer.org

                  tr
                    td 3
                    td Larry
                    td the Bird
                    td kotwitter
                    td larry.king.live@twitterhack.com

            .table-container
              table.table.table_secondary.table-type-2.table-striped.typography-last-elem
                thead
                  tr
                    th #
                    th First Name
                    th Last Name
                    th user id
                    th Email

                tbody
                  tr
                    td 1
                    td Mark
                    td Otto
                    td nomdo
                    td mark.otto@mdo.net

                  tr
                    td 2
                    td Jacob
                    td Thornton
                    td wrfat
                    td jacob.thrnton321@fatbeer.org

                  tr
                    td 3
                    td Larry
                    td the Bird
                    td kotwitter
                    td larry.king.live@twitterhack.com



    .typography-section
      .container
        .row
          .col-xs-12
            h2.typography-title Pricing
            .row
              .col-xs-12

                +b-pricing('standard', '', '29', '', '',
                ([{'ds' : 'Aorem ipsum dolor'},
                  {'ds' : 'Tempor incididunts lab dolore'},
                  {'ds' : 'Veniam nostrud exercitation'},
                  {'ds' : 'Eorem ipsum dolor sit'}]))(class="bg-grey-2")
                +b-pricing('premium', '', '69', '', '',
                ([{'ds' : 'Aorem ipsum dolor'},
                  {'ds' : 'Tempor incididunts lab dolore'},
                  {'ds' : 'Veniam nostrud exercitation'},
                  {'ds' : 'Eorem ipsum dolor sit'}]))(class="active")
                +b-pricing('ultimate', '', '99', '', '',
                ([{'ds' : 'Aorem ipsum dolor'},
                  {'ds' : 'Tempor incididunts lab dolore'},
                  {'ds' : 'Veniam nostrud exercitation'},
                  {'ds' : 'Eorem ipsum dolor sit'}]))(class="bg-grey-2")
